@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Rubik:400');

// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.columns.is-right {
  justify-content: flex-end;
}

.has-bg-img { background: url('../img/back_hero.png')center center; background-size:cover; }

.gradientBg {
	display: flex;
	background: linear-gradient(to bottom, $primary-color, $secondary-color);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
