// VARIABLES
$primary-color: #103887;
$secondary-color: #59c7fa;

$primary: #2EBF6D;
$text: #364962;

$family-sans-serif: "Rubik", sans-serif;


// $navbar-item-color: #fff;
$navbar-height: 5rem;
$navbar-item-img-max-height: 2.75rem;
// $navbar-item-hover-color: $red;
